block content
script.
  (() => {
    const input = {
      projectId: !{projectId},
      email: !{email},
    }
    const api_url = !{url};
    fetch(`${api_url}`, {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(input),
    }).then(() => {
      setTimeout(() => {
        window.close();
      }, 1000);
    });
  })()