block content
script.
  (() => {
    const input = {
      projectId: !{projectId},
      email: !{email},
    }
    fetch('http://localhost:9998/api/member/add-by-email', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(input)
    }).then(() => {
      setTimeout(() => {
        window.close();
      }, 1000)
    });
  })()